node_modules
dist
.env
.env.*
!.env.example
*.log
.DS_Store
.vite
coverage
**/bin/
**/obj/
.vs/
TestResults/
*.user
.terraform/
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
